<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.fuzui.StudentInfo.mapper.AdminMapper">

    <!-- 教师登录设置 -->
    <select id="queryByNamePwd" resultType="java.lang.String">
		select * from admin where Aname = #{aname} and Apassword= #{apassword}
	</select>

</mapper>